.navbar{
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 14px;
    padding-bottom: 14px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 67px;
}

.title{
    font-size: 22px;
}

.error{
    display: flex;
    margin-top: 67px;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 8px;
    padding-bottom: 14px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: red;
    justify-content: center;
}

.stop-scrol{
    overflow: hidden;
}

.pop{
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.loginform, .signupform{
    display: block;
    position: absolute;
    background: white;
    top: 25%;
    left: 37%;
    height: 380px;
    width: 400px;
    border-radius: 6px;
    box-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.24);
    z-index: 2;
    display: none;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loginform{
    height: 350px; 
}

.logout{
    font-size: 18px;
}

.img{
    margin-top: 6px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.signup-inline{
    display: inline-block;
}

#size-sm{
    position: relative;
    top: -2px;
    font-size: 12px;
}

.main{
    padding-top: 67px;
    margin-left: 190px;
    margin-right: 190px;
    position: relative;
}

.left{
    width: 65%;
    display: inline-block;
    height: 650px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.left ul{
    list-style-type: none;
}

.header{
    display: block;
    height: 230px;
    border-radius: 7px;
    position: relative;
    margin-bottom: 10px;
}

#head-img{
    width: 35%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
}

#head-body{
    width: 65%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 20px;
}

.comment-box{
    width: 100%;
    padding: 8px 12px;
    margin: 1px 0px;
}

.comment-box h6{
    font-size: 15.5px;
    margin-bottom: 2px;
}

.comment-box span{
    font-size: 12px;
    color: grey;
    margin-left: 3px;
}

.comment-box p{
    margin: 0;
    font-size: 14px;
}

.comment-box div{
    font-size: 13.5px;
}

.comment{
    position: relative;
    padding: 8px 12px;
}

.comment .btn{
    margin: 3px;
    margin-right: 10px;
    position: absolute;
    right: 0;
}

.form-select{
    display: inline-block;
    width: 65px;
    margin-top: 4px;
    margin-right: 0px !important;
}

.right{
    width: 20%;
    height: 270px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
    position: fixed;
    margin-top: 30px;
    background-color: grey;
}

h2{
    display: flex;
    justify-content: center;
}

.foot{
    position: relative;
    background-color: #212529;
    color: white;
    padding-top: 40px;
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 50px;
}

.left-foot{
    display: inline-block;
    width: 50%;
}

.right-foot{
    position: absolute;
    right: 210px;
    display: inline-block;
}